<article>
    <div class="texto">
        <h1>Pulsaciones</h1>
        <h3>Pulsación:</h3>
        <h4>Golpe perceptible en algunas partes del cuerpo, como el tórax o la muñeca, que se produce por el movimiento alternativo de contracción y dilatación del corazón y las arterias.</h4>
        <br>
        <h3>Recomendaciones</h3>
        <h4>Para el ejercicio de intensidad moderada, su frecuencia cardíaca ideal debe ser de 50% a 70% de su frecuencia cardíaca máxima. Para el ejercicio vigoroso, su frecuencia cardíaca debe ser de 70% a 85% de su frecuencia cardíaca máxima.</h4>
    </div>
    <img src="./img/sabes-cual-es-tu-frecuencia-cardiaca-maxima-en-carrera.jpg" alt="Mujer tomandose el puso mientras hace ejercicios">
</article>
<footer>Footer</footer>