<form action="">
    <div>
        <label>Nombre</label>
        <input type="text" id="nombre">
    </div>
    <div>
        <label>Identificacion</label>
        <input type="number" id="ident">
    </div>
    <div>
        <label>sexo</label>
        <Select id="sexo">
    <option value="femenino">Femenino</option>
    <option value="masculino">Masculino</option>
</Select>
    </div>
    <div>
        <label>edad</label>
        <input type="number" id="edad">
    </div>
    <div>
        <button type="button" onclick="pulsaciones()">Calcular</button>
    </div>
</form>